/* TODO: Make it awesome */

*{
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height:100px;
  align-items: center;
}

header h1 {
  font-size: 50px;
  margin: 20px;
}

nav {
  font-size: 25px;
  margin: 20px;
}

nav li {
  display: inline;
  margin: 20px;
}

main, footer{
  margin-left:40px;
  margin-right:40px;
}

.card h1 {
  font-size: 25px;
  margin:10px;
}

.copy ol {
  list-style: decimal;
  font-size: large;
  margin-bottom: 30px;
}

fieldset {
  border: 2pt solid grey;
  width: 400px;
  padding: 20px;
}

input {
  margin-top: 20px;
}

legend {
  font-size: 20px;
}

footer {
  margin-top: 40px;
  display:flex;
  justify-content: center;
}